//   Project Name: <%= Name %>
//   Author: <%= Author %>
/**/
/*------------------------------------*\
 *------ _objects.objects.scss -------*
\*                                    */
/**/

/*------------------------------------*\
  #navbar
*/

.o-container{
  
}

.o-navbar{
  
}
/*---------- end of: navbar -----------*/

/**/
/*                                    *\
 *--- end of: _objects.objects.scss ---*
\*------------------------------------*/