//   Project Name: <%= Name %>
//   Author: <%= Author %>
/**/
/*------------------------------------*\
 *------- _elements.page.scss --------*
\*                                    */
/**/

/*------------------------------------*\
  #example
*/

/*---------- end of: example ---------*/

/**/
/*                                    *\
 *-- end of: _genric.variabels.scss --*
\*------------------------------------*/