<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- Author: <%= Author %> -->
  <head>
    <meta charset="utf-8">
    <title><%= ProjectName %></title>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>

  <body>