{
  "name": "<%= Name %>",
  "version": "1.0.0",
  "description": "<%= Description %>",
  "main": "scripts/main.js",
  "scripts": {
    "compile:sass": "node-sass sass/main.scss styles/main.css -w"
  },
  "author": "<%= Author %>",
  "license": "<%= Licence %>",
  "dependencies": {
    "normalize.css": "^8.0.1"
  },
  "devDependencies": {
    "node-sass": "^4.13.0"
  }
}
