//   Project Name: <%= Name %>
//   Author: <%= Author %>
/**/
/*------------------------------------*\
 *---- _components.components.scss ----*
\*                                    */
/**/

/*------------------------------------*\
  #example
*/

/*---------- end of: example ---------*/

/**/
/*                                    *\
 * end of: _components.components.scss *
\*------------------------------------*/